.div-s-Arte{
    h2{
        margin-left: 10vh;
    }
}

.slide{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vh;
}
.container{
    margin: 0 auto;
    
    
width: 90%;
   
.card{
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    float: left;
}
.card2{
    
    float: left;
}
.card3{
    text-align: center;
}

} 